.body {
    background-color: mediumpurple;
    background-size: cover;
}
.bg {
    background-image: url(rain.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid purple;
    border-radius: 4px;
    box-sizing: border-box;
}
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid purple;
    border-radius: 4px;
    box-sizing: border-box;
}

.container {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

/* Memberi warna background pada div */
div.container {
    background-color: rgb(255, 255, 255); /* Warna krem */
    padding: 20px;
    border-radius: 8px;
}

/* Memberi warna background pada tabel */
table {
    width: 50%;
    background-color: rgb(255, 255, 255); /* Warna putih */
    border-collapse: collapse;
}

table tr:nth-child(even) {
    background-color: #ffffff; /* Warna abu-abu muda untuk baris genap */
}

table th {
    background-color: grey; /* Warna hijau pada header tabel */
    padding: 10px;
    color: white;
}

table td {
    padding: 10px;
    text-align: left;
}